<!DOCTYPE html>
<html>
<head>
	<title>Admin Portal</title>
</head>
<body>
<center>
<form action="/portal" method="POST">
	<p>Hi Admin!</p>
    Name :<input type="text" placeholder="Name" name="name" value="{{
        request.form.name }}">
    <br>
    Score:<input type="text" placeholder="Price" name="price" value="{{
        request.form.price}}">
    <br>
    Time:<input type="text" placeholder="PictureLink" name="picturelink" value="{{
        request.form.picturelink }}">
    <br>
    <input type="submit" value="Submit">
</form>


</center>



</body>
</html>